@import "./colors.scss";

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.instruction {
  color: black;
  font-size: 18pt;
  margin: 24px 16px;
}

.news-list-item {
  height: 100px;
  background: white;
  padding: 16px;
  margin: 2px 0;
  flex-direction: row;
  display: flex;

  img {
    height: 95px;
    width: 95px;
  }

  .news-list-item-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    a {
      color: $accent;
      text-decoration: none;
      cursor: pointer;
      height: 30px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      width: calc(100vw - 130px);
      white-space: nowrap;

      &:hover {
        color: #013942;
      }
    }
    p {
      margin: 0;
    }
  }
}
