@import "./colors.scss";

.scaffold-container {
  min-height: 100vh;
}

.header {
  background: $primary;
  padding: 16px 24px;
  h3 {
    color: white;
    margin: 0;
  }
}

.content {
  min-height: calc(100vh - 120px);
}

.footer {
  background: #222;
  color: white;
  padding: 8px;
  text-align: center;

  a {
    color: $accent;
  }
}
